.clock{
    width: 100%;
    height: 1.3333rem;
    text-align: center;
    font-size: 0.64rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}